.Home {
  margin-top: 89px;
  margin-left: 170px;
  width: 43px;
  height: 20px;
  text-align: left;
  font: normal normal bold 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  }
  .Aboutus {
    margin-top: 150px;
    margin-left: 30px;
  width: 64px;
  height: 20px;
  text-align: left;
  font: normal normal bold 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  }
  .contactus{
    margin-top: 30px;
    margin-left: 30px;
  width: 74px;
  height: 20px;
  text-align: left;
  font: normal normal bold 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  }
  .textfooter{
    margin-top: 160px;
    margin-left: 0px;
  font: normal normal normal 15px/20px Segoe UI;
  color: #FFFFFF;
  opacity: 1;
  }
  
  .card {
    display: grid;
    grid-area: stats; 
    margin-top: 70px;
    margin-left: 400px;
    width: 300px;
    grid-template-rows: 90px 90px 0px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    
  }
  .cardIn {
    display: grid;
    grid-area: stats; 
    margin-top: -180px;
    margin-left: 705px;
    width: 300px;
    grid-template-rows: 90px 90px 0px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    
  }

  

  .cardImage {
    grid-area: image;
  }
  .card {
    grid-area: stats; 
    
  }
  .cardText {
    grid-area: text;
  }

  .cardImage {
    grid-area: image;
    width: 70px;
    height: 70px;
    background: url("../public/reg.png");
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: cover;
  }

  .cardtick {
    grid-area: image;
    width: 70px;
    height: 70px;
    margin-left: 230px;
    margin-top: -32px;
    background: url("../public/tick.png");
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    background-size: cover;
  }

  .cardImageIn {
    grid-area: image;
    width: 70px;
    height: 70px;
    background: url("../public/in.png");
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: cover;
  }
  
  .inputMail {
margin-top: 64px;
margin-left: 400px;
width: 600px;
height: 56px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 8px;
opacity: 1;
  }

  .inputPassword {
    margin-top: 40px;
    margin-left: 400px;
    width: 600px;
    height: 56px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 8px;
    opacity: 1;
      }
.inputButton{
  margin-top: 40px;
margin-left: 624px;
width: 152px;
height: 47px;
background: #000000 0% 0% no-repeat padding-box;
border-radius: 8px;
color: #FFFFFF;
opacity: 1;
}